:root {
  --bg: rgb(251, 251, 251);
  --bg-secondary: rgb(248, 248, 248);

  --text: rgb(20, 20, 20);
  --text-secondary: rgb(70, 70, 70);

  --accent: rgb(81, 107, 92);
  --accent-secondary: rgb(243, 243, 243);

  --icon: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(20, 20, 20);
    --bg-secondary: rgb(50, 50, 50);

    --text: rgb(224, 224, 224);
    --text-secondary: rgb(251, 251, 251);

    --accent: rgb(113, 139, 124);
    --accent-secondary: rgb(25, 25, 25);

    --icon: invert(100%) sepia(0%) saturate(0%) hue-rotate(131deg)
      brightness(103%) contrast(103%);
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
body {
  background-color: var(--bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h2 {
  color: var(--text);
  margin-bottom: 4em;
  font-weight: 400;
}
h3 {
  font-weight: 400;
}

label {
  width: 6em;
  font-size: 1.5em;
  align-self: center;
  color: var(--text);
}
input {
  color: var(--text-secondary);
  padding: 0.4em 1em;
  width: 40vw;
  border: none;
  border-bottom: 2px solid var(--text);
  outline: none;
  background-color: var(--bg);
  outline: 0 0 2px 1;
  outline-offset: 1px;
  font-size: 1.5em;
  padding: 0 0.4em;
}
input:focus {
  outline: none;
  border-bottom: 2px solid var(--accent);
  box-shadow: 0 6px 0 var(--accent);
}
fieldset {
  border: none;
  display: flex;
  gap: 0.5em;
  line-height: 1.5em;
}
button {
  color: var(--text);
  width: 8em;
  border: 1px solid var(--text);
  background-color: var(--bg-secondary);
  padding: 0.5em 1em;
  border-radius: 32px;
  font-size: 1.2em;
  margin-top: 1em;
}
button .icon {
  padding: 0.4em;
}
button img {
  filter: var(--icon);
}

button:hover {
  border: 1px solid var(--accent);
  color: var(--accent);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
table {
  display: grid;
  gap: 2em;
}
tr {
  padding: 2em;
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--text);
}
tr .row-prompt {
  flex: 1;
}
tr:nth-of-type(2n) {
  background-color: var(--accent-secondary);
}
footer {
  height: 4vh;
  background-color: var(--accent);
}
a {
  color: var(--text-secondary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
::selection {
  color: var(--text-secondary);
  background: rgb(249, 247, 238);
}

.container {
  padding: 4%;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}
.db-form {
  display: flex;
  gap: 1em;
}
.generate-form {
  display: grid;
  gap: 1.5em;
}
.generate_image {
  justify-self: center;
}
#prompt {
  width: 60vw;
}
.link-pair {
  display: flex;
  gap: 0.4em;
  align-items: center;
}
