{% extends 'base.html' %}
{% block head %}
<title>homepage</title>
{% endblock %}

{% block body %}
<a href="{{url_for('history')}}">History</a>
{% if image_src %}
<h2>{{prompt}}</h2>
<img class='generate_image' src={{ image_src }} alt='generated image' />
<form class='db-form' action="/" method="post">
  <button type="submit" name="save">save</button>
  <button type="submit" name="cancel">delete</button>
</form>
{% elif prompt %}
<h2>{{ prompt }}</h2>
{% else %}
<h2>Generate an image</h2>
<form class='generate-form' action="/" method="post">
  <fieldset>
    <label for="prompt">prompt:</label>
    <input type="text" name="prompt" id="prompt">
  </fieldset>
  <fieldset>
    <label for="movement">movement:</label>
    <input type="text" name="movement" id="movement">
  </fieldset>
  <button type="submit" name="generate_image">Generate</button>
</form>
{% endif %}

{% endblock %}